/* Media query at small screen size */
@media only screen and (max-width: 350px) {
    body {
        font-size: 10px;
        margin: max-content;
    }

    header img {
        width: 70%;
    }

    header, footer {
        background-color: rgb(253, 106, 106);
        border-radius: 0px;
    }

    footer {
        margin: 0rem;
    }
}