:root {
    --accent1: #88001B;
    --accent2: #255C99;
    --accent3: #FFCA18;
}

/* ----------FONTS---------- */
nav, h1, h2, header, footer, form, #feedback {
    font-family: 'Oswald', sans-serif;
}

p, th, td, h3, h4, .counter, .services {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

/* -----------TABLE----------- */
table {
    margin: 10px;
    border: thin solid var(--accent1);
    box-shadow: 0 0 20px var(--accent2);
    }
    
    th, td {
    padding: 5px 15px;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    background-color: var(--accent1);
    border-radius: 5px 5px 5px 5px;
    }
    
    td {
    text-align: center;
    }
    
    thead tr th img {
      width: 125px;
    }


/* ------------FORM------------ */
form fieldset {
    margin: 2rem 0;
    border: 2px solid var(--accent3);
    border-radius: 10px;
    padding: 20px;
  }
  
  form legend {
    color: var(--accent2);
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
  }
  
  form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--accent1);
    font-size: 1rem;
  }
  
  form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 80%;
    max-width: 20rem;
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  form label.sidebs {
    display: block;
    padding: .75rem 0;
    color: var(--accent2);
  }
  
  form input.submitBtn {
    border: none;
    background-color: var(--accent1);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 80%;
    max-width: 20rem;
  }

  textarea {
    margin-left: 5px;
    width: 320px;
    height: 120px;
  }
  
  form input.submitBtn:hover {
    background-color: #ab0f0f;
    cursor: pointer;
  }
  
  form label.top input:required {
    border-left: red solid 6px;
  }
  
  form label.top input:required:valid {
    border-left: green solid 6px;
  }


/* -----------MAIN SELECTORS----------- */
html, body {
    height: 100%;
    margin: 0;
}

header {
    background-color: var(--accent1);
    color: var(--accent3);
    padding: 20px;
}

a {
    text-decoration: none;
    color: var(--accent3);
}

p a {
    color: var(--accent2);
}

img {
    max-width: 250px;
}

footer h3 {
    font-size: 10px;
}

main {
    background-color: white;
    padding: 15px;
}

footer {
    background-color: var(--accent2);
    color: var(--accent3);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}


/* -----------ID SELECTORS----------- */
/* #exit {
    opacity: 0;
    display: flex;
    flex: end;
} */

#feedback {
    background-color: var(--accent3);
    color: var(--accent1);
    text-align: center;
    padding: .5em;
    display: none;       
}

/* -----------CLASS SELECTORS----------- */

main.temple {
    display: inline-block;
}

main.block-head {
    display: block;
    max-width: 800px;
    margin: auto;
}

/* .banner {
    position: absolute;
    background-color:var(--accent2);
    width: 97%;
    margin: 0;
    top: 0;
    right: 0;
    left:0;
    padding: 10px;
    z-index: 99 !important;
} */

.logo {
    display: flex;
    flex-direction: row;
}

.logo img {
    max-width: 100px;
}

.book-now {
    display: flex;
    flex-direction: column;
}

.book-now a {
    background-color: var(--accent2);
    color: var(--accent3);
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.social a img {
    max-width: 35px;
}

.social a img:hover {
    background-color: var(--accent1);
}

.descript-box {
    position: relative;
    font-size: 10px;
    padding: 5px;
    background-color: var(--accent3);
    text-align: center;
}

.navigation {
	list-style: none;
	padding-left: 160px;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 1rem;
	text-align: left;
	text-decoration: none;
	transition: 0.5s;
}

.navigation span.ham::before {
	content: "😺-Menu";
}

.responsive li {
	display: block;
}

.responsive span.ham::before {
	content: "🙀-Close";
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: center;
    padding-bottom: 100px;
    gap: 20px;
}

.grid section {
    flex-direction: column;
    text-align: center;
    background-color: var(--accent3);
    width: 400px;
    height: 600px;
}

.grid img {
    margin: 20px;
    max-width: 300px;
}

.like {
    width: 50px;
    height: 50px;
    margin-left: 170px;
    background-image: url('../images/heart-dislike.svg');
    background-repeat: no-repeat;
}

.like-yes {
    background-image: url('../images/heart-like.svg');
    background-repeat: no-repeat;
}