@media only screen and (min-width: 64rem) {
    /*----------MAIN SELECTORS----------*/
    
    nav ul li {
        display: inline;
        list-style-type: none;
        padding: 10px;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    main.temple {
        display: grid;
        grid-template-columns: 1fr;
    }

    img {
        max-width: 700px;
    }

    footer {
        background-color: var(--accent2);
        color: var(--accent3);
        padding: 10px;
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        height: 95px;
    }

    textarea {
        margin-left: 0px;
        width: 700px;
        height: 150px;
    }
    
    
    /*-----------CLASS SELECTORS----------*/

    .book-now {
        margin-top: 0px;
        max-width: 50%;
        margin: auto;
    }
    
    .descript-box {
        position: absolute;
        font-size: 16px;
        top: 550px;
        left: 120px;
        padding: 5px 100px;
    }

    .social a {
        display: inline;
        padding: 0 10px;
    }

    a:hover {
        color: #fede77;
    }

    button:hover {
        background-color: #38669a;
        cursor: pointer;
    }

    .current-weather {
        margin-left: 200px;
    }

    .forcast-3Day {
        grid-column: 1/span 3;
        margin-left: 400px;

    }

    #three-day {
        display: inline-flex;
        gap: 20px;
    }
}