@media only screen and (min-width: 40rem) {
    /*----------MAIN SELECTORS----------*/

    /*-----------CLASS SELECTORS----------*/
    .navigation {
        display: flex;
        padding-left: 0;
      }
      
      .navigation li {
        display: block;
        flex: 1 1 auto;
      }
      
      .navigation a {
        text-align: center;
      }
      
      .navigation span.ham::before {
        display: none;
      }
}