@media only screen and (min-width: 37.5em) {
    body, header, footer {
        max-width: 959px;
    }
    main {
        grid-template-columns: 1fr 1fr;
    }

    footer {
        margin: 1rem;
        padding: 15px;
    }

    #white-space {
        grid-column: span 2;
    }
}