@font-face {
  font-family: 'hylia_serif_betaregular';
  src: url('../fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
       url('../fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Main Selectors */

nav {
	margin: 0 auto;
	max-width: 760px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3f48cc;
}

 body { 
  min-height: 100vh;
  background-color: lightgray;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  min-width: 320px;
}

header {
  padding: 15px;
}

header,
footer {
  background-color: #3f48cc;
  border: 10px;
}

main { 
  display: block;
}

h1,
h2,
h3,
p,
footer {
  font-family: "Lato", sans-serif;
}

h1 {
  display: block;
  color: antiquewhite;
  margin: 0px;
  font-size: 1.5rem;
  text-shadow: 1.5px 1.5px 5px black;
}

h2 {
  display: block;
  font-size: 1rem;
  color: antiquewhite;
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  text-shadow: 1.5px 1.5px 5px black;
}

h3 {
  padding: 15px;
  margin: 0px;
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
}

footer {
  text-align: center;
  font-size: 1rem;
  color: antiquewhite;
  padding: 15px;
  font-weight: bold;
}

picture {
  display: flex;
  justify-content: center;
  margin: 20px;
}

picture img[data-src] {
  filter: blur(0.2em);
}
 
picture img {
 filter: blur(0em);
 transition: filter 0.5s;
}

:root {
  
  --back: #a98714;
  --foredark: hsla(0,0%,10%,1);
  --border: hsl(0,0%,20%);
  --borderlight: rgb(200, 200, 200);
  --shadow: rgb(171, 171, 171);
}

table {
margin: 10px auto;
border: thin solid var(--border);
box-shadow: 0 0 30px var(--shadow);
border-collapse: collapse;
}

th, td {
padding: 7px 15px;
border: 1px solid var(--borderlight);
background-color: var(--back);
}

td {
text-align: center;
}

/* ID Selectors */

#announce {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 5px;
  background-color: #a98714;
  min-width: fit-content;
  margin: auto;
  text-align: center;
}

/* Class Selectors */

.discover-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-img p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px #a98714;
}

.counter p {
  font-family: 'hylia_serif_betaregular', sans-serif;
  border: 1px solid #010754;
  font-size: 30px;
}

picture img.pic-logo {
  width: 100px;
  height: auto;
  border: 1px solid gray;
  margin: 3px;
}

h1.error {
  color: red;
  text-shadow: 1px 1px  #010754;
}

.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.about-h3 {
  font-weight: 700;
  font-size: 5rem;
  text-decoration: underline;
}

.datetracker {
  display: flex;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px;
  border: 2px solid #a98714;
  background-color: #3f48cc;
  justify-content: center;	
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social {
  list-style-type: none;
  position: absolute;
  top: 90px;
  left: 65%;
  padding-left: 30px;
}

.social a {
  margin: 5px;
}

.navigation {
	list-style: none;
  position: relative;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
  font-family: 'Courier New', Courier, monospace;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation span.ham::before {
	content: "🍔 Menu";
  color: antiquewhite;
}

.responsive li {
	display: block;
}

.responsive span.ham::before {
	content: "❌ Close";
}
 
.news, 
.event, 
.weather,
.join,
.spotlight {
  box-shadow: 1px 1px #010754;
  background-color: #3f48cc;
  margin: 5px;
} 

.hero h2, 
.news h2, 
.event h2, 
.weather h2,
.join h2,
.spotlight h2 {
  font-size: 1.5rem;
}

.hero h2 {
  color: black;
  text-shadow: 1.5px 1.5px 5px #a98714;
}

.hero p {
  text-shadow: 1.5px 1.5px 5px #a98714;
}

.hero picture img {
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
  max-width: 400px;
  margin-left: 10px;
  margin-top: 20px;
}

.hero {
  /* background-image: url("../images/west-richland-city-view-bi.jpg"); */
  border: 1px solid black;
  padding: 1em;
}

.news {
  border: 1px solid black;
  padding: 4em;
}

.event {
  border: 1px solid black;
  padding: 4em;
}

.weather {
  border: 1px solid black;
  padding: .5em;
}

.border {
  border-bottom: 1px solid #010754;
}

.join {
  font-size: 10px;
  border: 1px solid black;
  padding: 4em;
}

a.join1 {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #010754;
  padding: 5px 20px;
  margin-left: 10px;
  box-shadow: 2px 2px #3f48cc;
}


a.join2 {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: blue;
  padding: 10px 30px;
  box-shadow: 2px 2px #010754;
}

.spotlight {
  border: 1px solid black;
  padding: 1em;
}

.spot1,
.spot2,
.spot3 {
  border: 1px solid black;
  padding: 3em;
  margin: 15px;
  box-shadow: 2px 2px #010754;
}

.spot1 img,
.spot2 img,
.spot3 img {
  max-width: 100px;
  display: flex;
}

.spot3 {
  display: none;
}

.weather thead tr th {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px white;
}

.weather td,
.weather th {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.weather span {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.event a {
  list-style-type: none;
  color: white;
  padding-left: 20px;
  white-space: nowrap;
}

a.map,
a.email,
a.phone {
  text-decoration: none;
}

.map {
  color: antiquewhite;
}

.map:visited {
  color: antiquewhite;
}

.email {
  color: antiquewhite;
}

.email:visited {
  color: antiquewhite;
}

.phone {
  color: antiquewhite;
}

.phone:visited {
  color: antiquewhite;
}