/*----------FONTS----------*/

@font-face {
  font-family: 'hylia_serif_betaregular';
  src: url('../fonts/hyliaserifbeta-regular-webfont.woff2') format('woff2'),
       url('../fonts/hyliaserifbeta-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/*----------ROOT VARIABLES----------*/

:root {
  
  --back: #a98714;
  --back2: #3f48cc;
  --back3: #010754;
  --foredark: hsla(0,0%,10%,1);
  --border: hsl(0,0%,20%);
  --borderlight: rgb(200, 200, 200);
  --shadow: rgb(171, 171, 171);
}

/*----------MAIN SELECTORS----------*/

nav {
	margin: 0 auto;
	max-width: 760px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--back2);
}

 body { 
  min-height: 100vh;
  background-color: lightgray;
  font-size: 16px;
  line-height: 1.5;
  margin: auto;
  min-width: 320px;
}

header {
  padding: 15px;
}

header,
footer {
  background-color: var(--back2);
  border: 10px;
}

main { 
  display: block;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: var(--back);
}

h1,
h2,
h3,
h4,
p,
footer {
  font-family: "Lato", sans-serif;
}

h1 {
  display: block;
  color: antiquewhite;
  margin: 0px;
  font-size: .5rem;
  text-shadow: 1.5px 1.5px 5px black;
}

h2 {
  display: block;
  color: antiquewhite;
  font-size: .5rem;
  font-weight: bold;
  padding: 10px;
  margin: 0px;
  text-shadow: 1.5px 1.5px 5px black;
}

h3 {
  padding: 15px;
  margin: 0px;
  font-size: .5rem;
}

h4 {
  padding: 15px;
  margin: 0px;
  font-size: .5rem;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
}

footer {
  text-align: center;
  font-size: 1rem;
  color: antiquewhite;
  padding: 15px;
  font-weight: bold;
}

picture {
  display: flex;
  justify-content: center;
  margin: 20px;
}

picture img[data-src] {
  filter: blur(0.2em);
}
 
picture img {
 filter: blur(0em);
 transition: filter 0.5s;
}

table {
margin: 10px auto;
border: thin solid var(--border);
box-shadow: 0 0 30px var(--shadow);
border-collapse: collapse;
}

th, td {
padding: 7px 15px;
border: 1px solid var(--borderlight);
background-color: var(--back);
}

td {
text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  background-color: var(--back2);
  color: white;
  box-shadow: 1px 1px var(--back);
}

/*--------------FORM-----------------*/

form fieldset {
  margin: 2rem 0;
  border: 2px solid #445ba9;
  border-radius: 10px;
  padding: .5rem;
}

form legend {
  color: var(--back3);
  margin: 0 1rem;
  padding: 0 .5rem;
}

form label.top, form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: .8rem;
}

form label.top input, form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: .75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: .75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: .75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*----------ID SELECTORS----------*/

#announce {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  padding: 5px;
  background-color: var(--back);
  min-width: fit-content;
  margin: auto;
  text-align: center;
}

/*----------CLASS SELECTORS-----------*/

.wireframe a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  color: var(--back3);
  text-decoration: none;
}

.wireframe a:hover {
  background-color: var(--back2);
}

.selectors {
  display: flex;
  justify-content: end;
}

.grid section h1,
.grid section h2{
  color: black;
}

.list section h1,
.list section h2{
  color: black;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
}

.list section {
	flex-direction: row;
	justify-content: left;
}

.list section img {
	display: none;
}

.list section h4 {
  display: none;
}

.grid img {
  margin: 20px;
  max-width: 100px;
}

.list img {
  margin: 20px;
  max-width: 100px;
}

.member-bens {
  display: none;
}

.discover-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-img p {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px var(--back);
}

.counter p {
  font-family: 'hylia_serif_betaregular', sans-serif;
  border: 1px solid var(--back3);
  font-size: 30px;
}

picture img.pic-logo {
  width: 100px;
  height: auto;
  border: 1px solid gray;
  margin: 3px;
}

h1.error {
  color: red;
  text-shadow: 1px 1px  var(--back3);
}

.error-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3.about-h3 {
  font-weight: 700;
  font-size: 5rem;
  text-decoration: underline;
}

.datetracker {
  display: flex;
  padding: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 5px;
  border: 2px solid var(--back);
  background-color: var(--back2);
  justify-content: center;	
}

.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.social {
  list-style-type: none;
  position: absolute;
  top: 110px;
  left: 60%;
  padding-left: 30px;
}

.social a {
  display: inline-block;
  padding: 12px 10px;
}

.navigation {
	list-style: none;
  position: relative;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
  font-family: 'Courier New', Courier, monospace;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation span.ham::before {
	content: "🍔 Menu";
  color: antiquewhite;
}

.responsive li {
	display: block;
}

.responsive span.ham::before {
	content: "❌ Close";
}
 
.news, 
.event, 
.weather,
.join,
.spotlight {
  box-shadow: 1px 1px var(--back3);
  background-color: var(--back2);
  margin: 5px;
} 

.hero h2, 
.news h2, 
.event h2, 
.weather h2,
.join h2,
.spotlight h2 {
  font-size: 1.5rem;
}

.hero h2 {
  color: black;
  text-shadow: 1.5px 1.5px 5px var(--back);
}

.hero p {
  text-shadow: 1.5px 1.5px 5px var(--back);
}

.hero picture img {
  display: inline-flex;
  flex-direction: row;
  width: fit-content;
  max-width: 400px;
  margin-left: 10px;
  margin-top: 20px;
}

.hero {
  border: 1px solid black;
  padding: 1em;
}

.news {
  border: 1px solid black;
  padding: 4em;
}

.event {
  border: 1px solid black;
  padding: 4em;
}

.weather {
  border: 1px solid black;
  padding: .5em;
}

.border {
  border-bottom: 1px solid var(--back3);
}

.join {
  font-size: 10px;
  border: 1px solid black;
  padding: 4em;
}

a.join1 {
  text-decoration: none;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: var(--back3);
  padding: 5px 20px;
  margin-left: 10px;
  box-shadow: 2px 2px var(--back2);
}


a.join2 {
  text-decoration: none;
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: var(--back);
  padding: 10px 30px;
  box-shadow: 2px 2px var(--back3);
}

.spotlight {
  border: 1px solid black;
  padding: 1em;
}

.spot1,
.spot2,
.spot3 {
  border: 1px solid black;
  padding: 3em;
  margin: 15px;
  box-shadow: 2px 2px var(--back3);
}

.spot1 img,
.spot2 img,
.spot3 img {
  max-width: 100px;
  display: flex;
}

.spot3 {
  display: none;
}

.weather thead tr th {
  font-size: 40px;
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px white;
}

.weather td,
.weather th {
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 700;
}

.weather span {
  font-size: 25px;
  font-family: 'Lato', sans-serif;
}

.event a {
  list-style-type: none;
  color: white;
  padding-left: 20px;
  white-space: nowrap;
}

a.map,
a.email,
a.phone {
  text-decoration: none;
}

.map {
  color: antiquewhite;
}

.map:visited {
  color: antiquewhite;
}

.email {
  color: antiquewhite;
}

.email:visited {
  color: antiquewhite;
}

.phone {
  color: antiquewhite;
}

.phone:visited {
  color: antiquewhite;
}