/* Main Selectors */

a:link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

a:visited {
  color: white;
}

nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  list-style-type: none;
  padding-inline-start: 0px;
  font-size: 1.2rem;
  text-align: center;
  background-color: #010754;
}

nav ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

body {
  background-color: whitesmoke;
  font-size: 10px;
  line-height: 1.5;
  margin: auto;
  min-width: 320px;
}

header,
footer {
  background-color: #3f48cc;
  text-align: center;
  border: 10px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

h1,
h2,
h3,
p,
footer {
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0px;
  font-size: 3rem;
  align-content: center;
  justify-content: center;
  text-shadow: 1.5px 1.5px 5px black;
}

h2 {
  font-weight: bold;
  font-size: 2rem;
  padding: 10px;
  text-shadow: 1.5px 1.5px 5px black;
  margin: 0;
}

h3 {
  text-align: left;
  padding: 15px;
  margin: 0px;
  background-color: #a98714;
}

h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 15px;
}

li {
  text-align: center;
}

ol li {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

img {
  max-width: 320px;
  height: auto;
  border: 1px solid gray;
  margin: 3px;
}

footer {
  font-size: 1.5rem;
  padding: 15px;
  font-weight: bold;
}

/* Class Selectors */

.head-foot {
    background-color: #3f48cc;
    max-width: 400px;
}

.nav {
    background-color: #010754;
    max-width: 400px;
}

.hover {
    background-color: #a98714;
    max-width: 400px;
}

.sample1,
.sample2,
.sample3,
.sample4,
.sample5 {
    max-width: 400px;
}


.sample1 {
    background-color: #3f48cc;
    font-size: 40px;
}
.sample2 {
    background-color: #3f48cc;
    font-size: 30px;
}
.sample3 {
    background-color: #a98714;
    font-size: 20px;
}
.sample4 {
    background-color: #010754;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.sample5 {
    font-size: 20px;
}

/* Media Queries */

@media screen and (min-width: 37.5em) {
  nav ul {
    display: flex;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav ul li {
    flex: 1 1 auto;
  }
  a:hover {
    background-color: #a98714;
    color: white;
    text-shadow: 1px 1px black;
    font-weight: bold;
  }
  .sample1,
.sample2,
.sample3,
.sample4,
.sample5 {
    margin-left: 400px;
}
}

@media screen and (min-width: 60em) {
  nav ul {
    font-size: 2em;
  }
}
