main {
    font-family: 'Ubuntu', sans-serif;
}

:root {
    --back: rgb(50, 38, 115);
    --back2: rgba(50, 38, 115, 0.5);
    --foredark: hsla(0,0%,10%,1);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
	--zebra: hsl(0, 0%, 93%, 1);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
}

thead tr:first-child th {
	background-color: var(--back2);
	color: var(--foredark);
}

tbody tr:first-child th {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

tfoot {
    background-color: var(--back2);
	color: var(--foredark);
}

.goal {
    background-color: rgba(50, 38, 115, 0.9);
    color: white;
}